[submodule "apps/auth-service/src/models/tenant"]
	path = apps/auth-service/src/models/tenant
	url = https://github.com/DayaDesai/tenant.git
[submodule "apps/auth-service/src/models/main"]
	path = apps/auth-service/src/models/main
	url = https://github.com/DayaDesai/main.git
[submodule "apps/store-service/src/models/tenant"]
	path = apps/store-service/src/models/tenant
	url = https://github.com/DayaDesai/tenant.git
